body {
    margin: 0 auto;
}

#container {
    width:970px;
    background-color: gainsboro;
    padding : 25px;
    display: flex;

}


form {
    margin-top: 50px;
}

table {
    margin-left: 150px;
}