<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Add a Book</title>
</head>

<body>
    <div id="container">
        <div>
            <h2>Add a Book</h2>
            <form action="/books/create" method="post">
                {% csrf_token %}
                <p><label for="title">Title
                        <input type="text" name="title"></label>
                </p>
                <p><label for="describe">Description
                        <input type="text" name="describe"></label>
                </p>
                <button type="submit">ADD</button>
            </form>
        </div>

        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </tr>

            {% for book in all_books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td><a href="/books/{{ book.id }}">View</a></td>
            </tr>
            {% endfor %}
        </table>


    </div>

</body>

</html>